<div class="jumbotron">
    <h1>ASP.NET Credentials sample</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Current User: @ViewBag.Message</p>
    </div>
    
</div>
